/*agrengo una fuente para que quede mas lindo */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Anton&display';
    background-image: url("/fondojuego.png");
    background-attachment: fixed;
    background-size: cover;
}

#pantalla-principal{
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    margin-top: 17%;
    margin-left: 36%;
    background-color: rgba(231, 62, 231, 0.836);
    opacity: 90%;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 30px;
}

#pantalla-principal h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: black
}

button {
    background: #000;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 30px;
}

button:hover {
    border-bottom: 4px solid transparent;
    background-color: rgba(187, 14, 187, 0.836);
}


/* pantalla del juego*/

#pantalla-juego {
    display: none;
}

.pregunta-actual {
    background-color: #e09ccc !important;
    color: #fff;
}


/* cambia el color a verde cuando se responda bien */

.bien-respondida {
    background-color: rgb(9, 206, 9) !important;
    color: #fff !important;
}


/* cambia el color a rojo cuando se responda mal */

.mal-respondida {
    background-color: rgb(201, 3, 3) !important;
    color: #fff !important;
}

.cosoDepreguntas {
    background-color: rgba(231, 62, 231, 0.836);
    text-align: center;
    max-width: 700px;
    margin: auto;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0 20px;
}

.cosoDepreguntas #pregunta {
    margin: 0;
    font-weight: normal;
}

.cosoDepreguntas input {
    display: inline-block;
    margin: 10px 0;
    font: size 25px;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 30px;
    border: none;
    outline: none;
    border: 2px solid #ccc;
}

.cosoDepreguntas #letra-pregunta {
    border: 2px solid #000;
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 30px;
    position: relative;
    bottom: 25px;
    background: #fff
}

.container {
    position: relative;
    width: 255px;
    height: 255px;
    margin: 50px auto;
    border: 2px solid #000;
    border-radius: 50%;
    background: rgba(187, 14, 187, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #tiempo {
    font-size: 50px;
    font-weight: bold;
}


/*circulo para las letras*/

.circle {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(51, 3, 51, 0.836);
    background: #fff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
/* seccion pantalla final */
#pantalla-final{
    display: none;
    max-width: 700px;
    margin:auto;
    text-align: center;
    background: rgba(187, 14, 187, 0.836);
    padding: 30px;
    border: 2px solid #000;
    border-radius: 20px;
    
}

#pantalla-final span{
   
    background: #000;
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
   


}
/* por si pongo los controles*/
#guaracha{
    position: fixed;
    top: 0;
    left: 0;
    border: 4px solid #000;
    border-radius: 0%;
    background: #000;
}


#container-creditos {
    display: none;
    margin-top: 20px;
    background-color: #0a0101;
    padding: 20px;
    border-radius: 8px;
    background-color: #e08cd9;
  color: #0a0808;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
  }

  #custom-audio-controls {
    width: 100%;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  